<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="logAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\%property{LogName}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="500KB"/>
      <maxSizeRollBackups value="1000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy hh:mm:ss tt} [%thread] %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <appender name="DumplogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\%property{LogName}.out"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="500KB"/>
      <maxSizeRollBackups value="1000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy hh:mm:ss tt} [%thread] %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <appender name="RequestlogAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\Requests_%property{LogName}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="500KB"/>
      <maxSizeRollBackups value="1000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy hh:mm:ss tt} [%thread] %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="logAppender"/>
    </root>
    <logger name="Log" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="logAppender"/>
    </logger>
    <logger name="DumpLogger" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="DumplogAppender"/>
    </logger>
    <logger name="RequestLogger" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="RequestlogAppender"/>
    </logger>
  </log4net>
  <appSettings>
    <add key="ListenerIpsList" value="192.168.1.35,127.0.0.1"/>
    <add key="ListenerPort" value="9562"/>
    <add key="AllowedIpAddresses" value="127.0.0.1,192.168.1.35,192.168.2.35"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Persist Security Info =False;User Id=sa;Password=BlueKiteBrandNew;Initial Catalog=BlueKite;Data Source=192.168.1.9;Min Pool Size=1;Max Pool Size=10"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>